body {
  background-color: black;
}

#navBar {
  position: fixed;
  left: -250px;
  top: 0;
  display: flex;
  width: 320px;
  height: 100%;
  z-index: 9;
}

.navbar-content {
  position: relative;
  width: 250px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #000000;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.side-bar {
  width: 70px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.navbar-content ul {
  list-style: none;
  padding: 0;
}

.navbar-content ul li {
  color: white;
  margin: 10px 0;
  position: relative;
  top: 50px;
  transition: top 0.5s ease;
  cursor: pointer;
}
.icons ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.icons ul li {
  margin-right: 10px;
}

#closeBtn {
  cursor: pointer;
}

img {
  width: 50px;
  height: 50px;
}
.itemStyle {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  img{
    width: 100%;
    height: 100%;
  }
 
}
.image-overlay {
  position: absolute;
  overflow: hidden;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.375rem;
  transition: all 0.5s;
  text-align: center;
}
#categories p{
  color: white;
}
.col-md-3:hover .image-overlay {
  height: 100%;
  top: 0;
  border-radius: 0.375rem;
}
#containerDetail{
 .rounded-3{
    width: 500px;
    height: 500px;
  }
}
#loading{
  display: none;
  position: fixed;
  top: 30%;
  left: 0;
  width: 100vw;
  height: 100vh;
}
#mealImg img{
  width: 400px;
  height: 400px;
}
.sk-circle {
  margin: 100px auto;
  width: 80px;
  height: 80px;
  position: relative;
 
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;

}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: white;
  border: 3px solid white;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
#receipes{
  list-style: none;
}
#receipes li{
  background-color: #d1ecf1;  
  border: 1px solid #bee5eb;   
  color: #0c5460;              
  border-radius: 0.25rem;      
  margin: 0.5rem;             
  padding: 0.25rem; 
}